<div class="meld">
    <h6>{{ name }}</h6>
    <a href="{{ value }}" target="_blank" rel="noopener noreferrer"><img src="{{ value }}" alt="{{ name }}"></a>
    <a class="download-btn" href="{{ value }}" download>{{ lex('commerce_imagemeld.admin.download') }}</a>
</div>